p,h1,h2, ul {
	margin-left: 25%;
}

body {
	background-color: pink;
	font-size: 18px;
	color: grey;
	font-family: 'Helvetica Neue' , Helvetica, Arial, serif;
}

.itunes {
	background-color: green;
}
.amazon {
	background-color: orange;
}

#itunes {
	font-size: x-small;
}

.repeat {
	border-bottom: black;
	border-left: black;
	border-right: black;
	border-top: black;
	border-width: 5px;
	border-style: dashed;
}